.about {
  padding: 10rem 0;
}
.about-center {
  width: 80vw;
  margin: 0 auto;
}
.about-img {
  margin: 3rem 0;
}
.about-info {
  margin-top: 3rem;
  padding-left: -50px;
}
.about-img {
  position: relative;
}

.about-img img {
  width: 100%;
  display: block;
  /* box-shadow: var(--lightShadow); */
}
/* .about-img div {
  box-shadow: var(--lightShadow);
} */
.about-info h2 {
  /* font-size: 1.9rem; */
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 58px;
  padding-bottom: 1rem;
}
.imgContainter {
  /* margin-left: 50px; */
  width: 400px;
  height: auto 0;
}

.zoom_counter__subtitle_black {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 300;
  background: var(--ligterBlack);
  display: inline-block;
  vertical-align: top;
  color: var(--mainWhite);
  padding: 5px 16px;
  margin-bottom: 10px;
}

.zoom_counter__subtitle:empty {
  opacity: 0;
}

@media screen and (min-width: 320px) {
  .imgContainter {
    /* margin-left: 50px; */
    width: 350px;
    height: auto 0;
  }
}

@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 3) {
  .imgContainter {
    /* margin-left: 50px; */
    width: 350px;
    height: auto 0;
  }
}

@media screen and (min-width: 768px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
  }

  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 500px;
  }
  .img-container {
    max-height: 500px;
  }
  .about-info p {
    width: 80%;
    color: var(--grey);
  }
}
@media screen and (min-width: 992px) {
  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    width: 95vw;
    max-width: 1170px;
  }
}

.hr_short {
  background: var(--primaryColor);
  display: block;
  height: 1px;
  margin-bottom: 45px;
  position: relative;
  width: 25px;
}

.hr_short:after {
  top: 4px;
  left: 12px;
  width: 30px;
}

.hr_short:before {
  top: 0;
  right: -12px;
  width: 8px;
}

.hr_short:after, .hr_short:before {
  background: var(--primaryColor);
  content: "";
  height: 1px;
  position: absolute;
}

.hr_long span:after, .hr_long span:before {
  background:var(--primaryColor);
  content: "";
  height: 1px;
  position: absolute;
}

.hr_long span:before {
  top: 0;
  left: 40px;
  width: 25px;
}
.hr_long-white span:after, .hr_long_white span:before {
  background: var(--mainWhite);
}

/*
features-block
*/

.features_block {
  text-align: center;
  padding: 84px 0 40px;
  background-color: var(--lightBlue);
}

.features_block__subtitle {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 11px;
}

.features_block__title {
  font-size: 48px;
  line-height: 1.25;
  font-family: "Playfair Display", serif;
  margin-bottom: 26px;
}

.features_block__text {
  font-size: 16px;
  line-height: 1.75;
  color: var(--grey);
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.75;
  margin-bottom: 100px;
}

.features_block__item {
  margin-bottom: 40px;
}

.features_block__feature_icon {
  font-size: 80px;
  color: var(--primaryColor);
  margin-bottom: 31px;
}

.features_block__feature_title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
}

.features_block__feature_text {
  font-size: 16px;
  line-height: 1.75;
  color: var(--grey);
  line-height: 1.75;
}


/*
cards-block
*/

.cards_block {
  padding-top: 140px;
  padding-bottom: 30px;
}

.cards_block__head {
  margin-bottom: 135px;
}

.cards_block__title {
  font-size: 48px;
  line-height: 1.25;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.cards_block__text {
  padding-top: 70px;
  font-size: 16px;
  line-height: 1.875;
  color: #666;
}

.zoom_counter__subtitle_primary {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 300;
  background: var(--primaryColor);
  display: inline-block;
  vertical-align: top;
  color: var(--mainWhite);
  padding: 8px 16px;
  margin-bottom: 26px;
  /* margin-left: 20%; */
}

.zoom_counter__subtitle:empty {
  opacity: 0;
}

.padding_top {
  padding-top: 20%;
}